.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.gallery li {
  flex: auto;
  max-width: 400px;
  padding: 10px;
  box-sizing: border-box;
}

.gallery img {
  width: 100%;
  height: auto;
}
